<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Register or Login</h2>
    <div class="index-links">
      <a href="/users/register">register</a> |
      <a href="/users/login">login</a> |
      <a href="/logout">logout</a>
    </div>
  </body>
</html>
